<!-- <form action="/auth/login" method="POST">
  <label for="auth-email" class="login">Email</label>
  <input id="auth-email" type="email" name="email">

  <label for="auth-password" class="login">Password</label>
  <input id="auth-password" type="password" name="password">

  <input type="submit" value="Log In">
</form> -->

<br>
<br>
<br>
<br>
<br>
<br>

<h3 id="login-message">Off Road Trail Finder</h3>
<h3 id="login-message">Already have an account? Log in below</h3>

<form action="/auth/login" method="POST">
  <div class="form-row">
    <div class="col">
      <label for="auth-email" class="login"></label>
      <input id="auth-email" type="email" name="email" class="form-control" placeholder="Email">
    </div>
    <div class="col">
      <label for="auth-password" class="login"></label>
      <input id="auth-password" type="password" name="password" class="form-control" placeholder="Password">
    </div>
  </div>
  <br>
  <input type="submit" value="Log In" class="btn btn-primary" id="login-btn">
</form>
