<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trail Finder</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>
  <body>
    <%- include('partials/alerts') %>
    <header>
      <nav >
        <ul>
          <% if (!currentUser) { %>
            <li><a href="/auth/signup" class="nav">Signup</a></li>
            <li><a href="/auth/login" class="nav">Login</a></li>
          <% } else {%>
            <li><a href="/auth/logout" class="nav">Logout</a></li>
            <li><a href="/profile" class="nav">Profile</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
    <!-- <h1>Authentication</h1> -->
    <%- body %>
  </body>
</html>
