<br>

<form action="/">
    <button id="back-button">Back to Search</button>
</form>

<br>
<br>

<div id="profile-container">
    <h2 id="myProfile">My Profile</h2>
    
    <br>
    
    <div>
        <div class="currentInfo"><%= (user.name) %></div>
        <div class="currentInfo">Email: <%= (user.email) %></div>
    </div>
    
    <br>
    
    <div>
        <form action="/update">
            <button>Change your log-in email</button>
        </form>
    </div>
</div>