<h2>My Profile</h2>

<form action="/">
    <button>Back to Search</button>
</form>

<pre><%= (user.name) %></pre>
<pre>Email: <%= (user.email) %></pre>

<div>
    <form action="">
        <button>Change your log-in email</button>
    </form>
</div>