<h2 id="myProfile">My Profile</h2>

<form action="/">
    <button>Back to Search</button>
</form>

<br>
<br>
<br>

<div>
    <pre class="currentInfo"><%= (user.name) %></pre>
    <pre class="currentInfo">Email: <%= (user.email) %></pre>
</div>

<div>
    <form action="/update">
        <button>Change your log-in email</button>
    </form>
</div>