<form action="/">
    <button>Back to Search</button>
</form>

<form action="/profile">
    <button>Back to Profile</button>
</form>


<div id="updateEmail">
    <form method="POST" action="/update<%=  %>/?_method=PUT">
        <label for="name">New email</label>
        <input type="text" name="name" id="name" value="<%=  %>">
        <input type="submit" value="Submit">
    </form>

</div>
